
/* display */
.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.d-grid {
    display: grid;
    align-items: center;
    justify-content: space-between;
}

.d-none{
  display:none;
}


/* positions */

.left{
    float: left;
}

.right{
    float: right;
}

/* text */
.text-left{
text-align: left;
}

.text-right{
text-align: right;
}

.text-center{
text-align: center;
}

.bold{
 font-weight: bold;
}

.text-large{
  font-size: 25px;
}

/* margin & padding */

.mt10{
   margin-top:10px;
}

.mt20{
   margin-top:20px;
}

.mt30{
   margin-top:30px;
}

.mt40{
   margin-top:40px;
}

.mt50{
   margin-top:50px;
}

.mb5{
 margin-bottom: 5px;
}

.mb10{
   margin-bottom:10px;
}

.mb20{
   margin-bottom:20px;
}

.mb40{
   margin-bottom:40px;
}

.p5{
padding:5px;}

.p10{
padding:10px;}

.p20{
padding:20px;}

.pt20{
padding-top: 20px
}

.pb20{
padding-bottom: 20px
}
/* Sizes */
.h-100 {
    min-height: 100%;
}

.h100 {
    height: 100%;
}

.w100 {
    width: 100%;
}

/* colors */

.bg-navy{
background-color: #343a40;
}

.bg-beige{
	background-color: #E4E3E0;
}

.bg-white{
	background-color:white;
}

.bg-red{
	background-color:red;
}
.bg-blue{
	background-color:blue;
}

.shadow{
	-webkit-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
	box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
}
.shadow2{
	    box-shadow: 5px 20px 20px #888888;
		-webkit-box-shadow:5px 20px 20px #888888;
}
