
/* display */
.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.d-grid {
    display: grid;
    align-items: center;
    justify-content: space-between;
}

.d-none{
  display:none;
}


/* positions */

.left{
    float: left;
}

.right{
    float: right;
}

/* text */
.text-left{
text-align: left;
}

.text-right{
text-align: right;
}

.text-center{
text-align: center;
}

.bold{
 font-weight: bold;
}

.text-large{
  font-size: 25px;
}

/* margin & padding */


.mt20{
   margin-top:20px;
}

.mb20{
   margin-bottom:20px;
}

.pb20{
padding-bottom: 20px
}

.p20{
padding:20px;}

.p10{
padding:10px;}

.p5{
padding:5px;}

.mb5{
 margin-bottom: 5px;
}

/* Sizes */
.h-100 {
    min-height: 100%;
}

.h100 {
    height: 100%;
}


/* colors */

.bg-navy{
background-color: #343a40;
}

.bg-beige{
	background-color: #E4E3E0;
}

.bg-white{
	background-color:white;
}
	
	